{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>EmoBeats</title>
<link rel="stylesheet" type="text/css" href="{% static 'Homepage/Home.css' %}">
</head>
<body>
    <div class="container">
        <h1>Welcome to EmoBeats</h1>
        <p>New here? Please <a href="signup.html">login</a> or <a href="signup.html">sign up</a> to get started.</p>
        <div class="button-container">
            <a href="login" class="button">Login</a>
            <a href="register" class="button">Sign Up</a>
        </div>
        <div class="about-us">
            <h2>About Us</h2>
            <p>Welcome to EmoBeats, where music meets emotions! Founded by a team of passionate individuals, EmoBeats aims to revolutionize how we experience music by integrating emotion detection technology.</p>
          <br>
          <p>Our journey began with a simple idea: to create an website that not only plays music but also understands how you feel. By using cutting-edge facial recognition technology, EmoBeats detects your emotions in real-time and curates playlists that match your mood.</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <p>But EmoBeats is more than just a music website. It's a companion that helps you navigate life's ups and downs. If you're feeling down, EmoBeats suggests uplifting songs or recommends calming melodies to help you relax. And if you're in a great mood, get ready for a playlist that amplifies your happiness!</p>
       <br>
       
       <p>Our mission is to enhance your emotional well-being through music. We believe that music has the power to heal, uplift, and inspire, and we're dedicated to bringing you a personalized music experience like never before.</p>
        <br>
        <h2>Join us on this musical journey and discover the power of EmoBeats!</h2>
    </div>
    </div>
</body>
</html>
